<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>AuthServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>sherali</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>0320</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCookieServlet</servlet-name>
    <servlet-class>CreateCookieServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>sherali</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>0320</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookieServlet</servlet-name>
    <url-pattern>/CreateCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/GetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCookieServlet</servlet-name>
    <servlet-class>DeleteCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookieServlet</servlet-name>
    <url-pattern>/DeleteCookieServlet</url-pattern>
  </servlet-mapping>
</web-app>
