<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>AuthPalindromeServlet</servlet-name>
  	<servlet-class>AuthPalindromeServlet</servlet-class>
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>sherali801</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>0320</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AuthPalindromeServlet</servlet-name>
  	<url-pattern>/AuthPalindromeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>AuthServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>sherali801</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>0320</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalculateServlet</servlet-name>
    <servlet-class>CalculateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateServlet</servlet-name>
    <url-pattern>/CalculateServlet</url-pattern>
  </servlet-mapping>
</web-app>
